# Node
node_modules/
.pnpm-store/
dist/

# .NET
packages/dotnet/**/.vs/
packages/dotnet/**/bin/
packages/dotnet/**/obj/
packages/dotnet/**/*.user
packages/dotnet/**/*.nupkg
packages/dotnet/**/*.snupkg

# Build outputs
packages/js/dist/
.nuxt
.output

# Environment
.env
.env.local
.env.*.local

# IDE
.idea
*.swp
*.swo
*~
.DS_Store

# Test coverage
coverage
*.lcov

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

